#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  background-color: rgb(255, 192, 203);
}

body {
  background-color: rgb(208, 70, 93);
}

.table img {
  width: 50px;
}
